@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

div#PageLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    width: 100%;
    animation: FadeIn 5s forwards;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
}

img#BigRaccoon {
    width: 150px;
    animation: SpinIcon 1s infinite ease-in-out;
    margin-bottom: 50px;
}

/* CSS Keyframes spin animation - shout out to Christoph for this */

@keyframes SpinIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}